*{
  box-sizing: border-box;
}
body{
  margin: 0;
  font-family: Inter, sans-serif;
  font-weight: 700;
}
.navbar{
  width: 550px;
  height: 91px;
  display: flex;
  align-items: center;
  padding: 31px 25px;
  background-color: #21222A;
}
.main{
  background-color: #33373E;
  width: 550px;
  height: 459px;
}
.container{
  color: #fff;
}
.heading{
  margin-right: auto;
  letter-spacing: -5%;
  font-size: 22.5px;
  color: #61DAFB;
}
.semi-heading{
  font-size: 16px;
}
.main-heading{
  margin-top: auto;
  margin: 0;
  padding: 57px 27px;
}
.main-content{
  font-size: 16px;
  max-width: 390px;
  padding-left: 76px;
}
.facts{
  color: #fff;
  padding-block: 9px;
}
::marker{
  font-size: 2rem;
  color: #61DAFB;
}