*{
  box-sizing: border-box;
}
body{
  margin: 0;
  font-family: Inter, sans-serif;
  font-weight: 700;
}
.navbar{
  width: 550px;
  height: 91px;
  display: flex;
  align-items: center;
  padding: 31px 25px;
  background-color: #21222A;
}
.image{
  width: 30px;
}
.main{
  background-color: #282D35;
  background-image: url(./../public/react-icon-large.png);
  background-repeat: no-repeat;
  background-position: right;
  width: 550px;
  height: 459px;
}
.container{
  color: #fff;
}
.heading{
  margin-right: auto;
  letter-spacing: -5%;
  font-size: 22.5px;
  color: #61DAFB;
}
.semi-heading{
  font-size: 16px;
}
.main-heading{
  margin-top: auto;
  margin: 0;
  padding: 57px 27px;
  padding-bottom: 0px;
  letter-spacing: -0.05em;
}
.main-content{
  margin-top: 46 px;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  max-height: 190px;
  max-width: 390px;
  padding-left: 76px;

}
.facts{
  color: #fff;
  padding-block: 5px;
}
::marker{
  font-size: 2rem;
  color: #61DAFB;
}